// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
img.illustration {
    float: left;
    margin: 0 20px 20px 0;
}

.code {
  clear: both;
}